<html>
	<head>
		<title>Pika - Where question meets inspiration.</title>
		<link rel="icon" href="/img/icon.png">
		<link href="/css/application.css" type="text/css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Abel|Medula+One" rel="stylesheet" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/application.js"></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>